$main-navbar-expand:xl;
$main-navbar-expand-max:lg;

html,body {
	height:100%; 
}

@include breakpoint-max(md){
	.container{
		max-width: 100%!important;
	}
} 

.min-h-100vh{
	min-height: 100vh;
}
.affix-target-bottom{
	
	&.target-affix-bottom{
		
	}
}
@include breakpoint(md){
	.affix-container-absolute[data-affix-breakpoint="md"],
	.affix-container-absolute[data-affix-breakpoint="xs"] {
		&.this-affix.affix:not(.affix-inside-bottom) .affix-column > .ui-scroller{
			height: 100%;
	    overflow-y: auto;
		}
	    
	}
	.affix-container-absolute[data-affix-breakpoint="md"].this-affix.affix.affix-inside-bottom .affix-column,
	.affix-container-absolute[data-affix-breakpoint="xs"].this-affix.affix.affix-inside-bottom .affix-column {
		height: auto;
	}
}
@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);  

		.affix-container-absolute[data-affix-breakpoint="#{$breakpoint}"]{
			position:absolute;
			top:0;
			left:0;
			right: 0;
			@include transition();

			.affix-column	{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			} 

			&.this-affix.affix{
				position:fixed;  
				.affix-column	{
					height: 100vh;
					> .ui-scroller{ 
					}
					&.row{
						margin-right: 0;
						margin-left: 0;
					}
				} 
				.hide-on-affix{
					//display: none!important;
				} 

				// Whem reach bottom of target (simulate a stop affixing)
				&.elem-affix-bottoXX{
					position:absolute;
					bottom: 0;
					top: inherit;
					.affix-column	{
						bottom: 0;
						top: inherit;
						&.row{
							margin-right: -($grid-gutter);
							margin-left: -($grid-gutter);
						}
					}
				}
			}

			.affix-container{
				position:relative; 
				&.container{ 
					@include make-container-max-widths(); 
					padding-right: $grid-gutter;
  				padding-left: $grid-gutter;
				} 
			}
			
		}

		.container .affix-container-absolute[data-affix-breakpoint="#{$breakpoint}"]{
			left: -($grid-gutter);
			right: -($grid-gutter);
		}

		
	}
} 

 

.ui-badge{ 
	border-radius: 3px;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.23px;
	padding: 5.5px 7px 5.5px 7px;
}

.ui-ingrediente-thumb{
	width: 122px;
	height: 122px;
	border-radius:100%;
	border: solid 1px #e6e6e6;
	background-color: #fff;
	overflow: hidden;
}

.ui-box-paso{
	.embed-responsive{
		margin-bottom: 20px;
		&::before {
		    padding-top: 57.897%;
		}
	}
	.title{
		font-size: 18px;
  	font-weight: 500;
  	line-height: 1.22;
	  letter-spacing: 0.32px;
	  color: $primary;
	  margin-bottom: 10px;
	}
	.content{
		font-size: 13px;
		line-height: 1.54;
		letter-spacing: 0.23px;
	}
}

.ui-step{
	background-color: $primary;
	width: 30px;
	height: 30px;
	color:#fff;
	display: flex;
	align-items:center;
	justify-content: center;
	font-size: 15px;
	font-weight: 500;
	margin-right: 8px;
	border-radius: 100%;
}

.table-sm th, .table-sm td {
 	font-size: 15px;
	padding: 8px 8px;
}





[data-is-inview="detect"]{
	overflow: hidden;
}
 

.content-wrap{ 
	img{
		max-width:100%;
		height:auto;
	}
}

.collapse-custom-overlay{
	background-color: #ffffff;
}

.ajax-load-holder{
	position:relative;
	&.ajax-loading{
		min-height: 50vh;
		&:after{
			/*
		
			$position:fixed,
			$z-index:9999, 
			$display:none, 
			$bg-color: $BC-body-loader-color, 
			$bg-img: ../images/loaders/tail-spin-000000.svg, 
			$bg-size: $BC-body-loader-size, 
			$transition: $BC-body-loader-transition 

			*/
			content: "";
			@include make-loader(absolute, 9999, block, rgba(#fff,.6), '../images/loaders/tail-spin-000000.svg', $BC-body-loader-size, $BC-body-loader-transition );
		}
	}
}

.paginate_links{
	.page-numbers{
		margin:$grid-gutter/3;
		@include WBPC_make_as_btn($rosa-claro, $rosa-claro, #fff);
		font-size: 13px;
    padding: 5px 10px;
    border-radius: 4px;
    min-width: 31px;
    &.current{
    	background-color:$primary;
    	border-color:$primary;
    	color:#fff;
    }
		&.prev,
		&.next{

		}
	}
}

.list-tick{
	list-style: none;
	padding: 0 18px;
	line-height: 1.8;
	li{
		padding-left:18px;
		position:relative;
		&:before{
			content: "";
			position:absolute;
			top:5px;
			left:-5px;
			width: 18px;
			height: 18px;
			background-image:url('../images/theme/icon-check-violet.svg');
			background-repeat:no-repeat;
			background-size: 18px auto;
		}
	}
}

@import "theme/color-elements";
@import "theme/typo"; 
@import "theme/btn";
@import "theme/form";
@import "theme/slick";

@import "theme/main-navbar";
@import "theme/main-page-header"; 
@import "theme/main-footer"; 



@import "theme/data-btn-fx";
@import "theme/data-is-inview"; 
 
@import "theme/ui-box"; 

@import "theme/woo";
@import "theme/wp-posts"; 


.gj-modal{
	overflow-y: auto;
}
.gj-picker-bootstrap table tr td.selected.gj-cursor-pointer div{
	background-color:$secondary!important;
	border-color:$secondary!important;
}
.gj-picker-bootstrap.datepicker {

	[role="header"]{
		background-color:$primary;
		color:#fff;

		.selected{
			color:#fff;
		}

	}

	[role="body"]{

			[role="navigator"]{

			}

			table{
				width: 100%;

				td.disabled{
					opacity: .3;
				}
			}

	}

	[role="footer"]{

		.btn{
			color:$primary;
			background-color:transparent;
			border-color:transparent;
			&:last-child{
				color:#fff;
				background-color:$primary;
				border-color:$primary;
			}
		}
	}

}
.woo-delivery-date{

	.delivery_time_radio{

		display: flex;
		align-items:center;

	}

	.gj-datepicker{
		.input-text{
			width: auto!important;
		}
		.form-control{
			border: solid 1px #979797 !important;
			border-radius: 2px !important;
		}
		.input-group-append{
			.btn{
				padding: 0;
				background: transparent;
				border-color: #979797;
				display: flex;
				align-items: center;
				justify-content: center;
				.gj-icon{
					top: 12px;
					color: #6639b7; 
				}
			}
		}
	}

	.woo-timepicker{
		.woocommerce-input-wrapper{

				position:relative;
				.icon-select{ // JS added
					cursor: pointer;
					content: "";
					position: absolute;
					width: 44px;
					height: 44px;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E");
					background-size: 20px auto;
					background-repeat: no-repeat;
					background-color: #fff;
					    background-position: center;
					top:1px;
					right: 1px;
					z-index: 10;
				}
				select{
					position:relative;
					z-index: 9; 
				}

				.input-radio{
					margin-right: 10px;
				}
				label{
					margin-bottom:0;
					margin-right: 10px;
					font-size: 16px;
				}

				.dropdown-menu{
					
				}

		}
	}

}

#woo-delivery-date{
	position:relative;
	&.changing{
		.changing-wrapper{
			@include opacity(.6);
			z-index: 0;
			.form-row{
				@include opacity(0);
			}
		}
		#woo-delivery-on-changing{
			z-index: 10; 
		}
	}
}
#woo-delivery-on-changing{
	background-color:transparent;
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1; 
}

.gj-dropdown-bootstrap-4 [role=presenter]{
	border: solid 1px #979797 !important;
    border-radius: 2px !important;
    height: calc(1.5em + 1.376rem + 2px);
    color: #495057;
    width: 100%;
    padding: 0.688rem 1.313rem;
    &:hover, &:focus, &:active{
    	background-color:#fff;
    }
}
.gj-icon.arrow-dropdown{
	top: 10px!important;
}
.gj-icon.arrow-dropdown:before{ 
	content: ""!important; 
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E");
	background-size: 20px auto;
	background-repeat: no-repeat; 
	background-position: center; 
	display: block;
	width: 24px;
  height: 24px;
}
.gj-icon.arrow-dropup:before{ 
	content: ""!important; 
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E");
	background-size: 20px auto;
	background-repeat: no-repeat; 
	background-position: center; 
	display: block;
	width: 24px;
  height: 24px;
  @include rotate(180deg);
}
ul.gj-list-bootstrap{

	.list-group-item{
		@include border-radius(4px); 
		[data-role=wrapper]{

		}
		[data-role=display]{

		}
		&.active{

		}
	}

}

[data-toggle="tooltip"]{
	cursor: pointer;
}
.tooltip.show{
	opacity: 1;
}
.tooltip .arrow{
	display: none;
}
.tooltip>.tooltip-inner {

  max-width: 250px;

  @include translate(0,50px);

  border-radius: 0;
  padding: 0;
  background: #fff;
  @include box-shadow($box-shadow);
  min-width: 100px;
  min-height: 100px; 
	background-image:url("../images/loaders/tail-spin-000000.svg"); 
	background-repeat:no-repeat;
	background-position:center center;
	background-size: 50px 50px; 
}
.tooltip-thumbnail{

}



#whatsapp-web-link{
	position:fixed;
	z-index: 1020;
	bottom:20px;
	right: 20px;
	@include transition();
	@include scale(1);
	@include breakpoint(md){
		bottom:30px;
		right: 30px;
	}
	&:hover{
		@include scale(1.08);
		.svg-hover-primary{
			fill:$primary!important;
		}
	}
}