// Custom variables  

// Color Scheme
@import "variables/color-scheme";

// Options
// Quickly modify global styling by enabling or disabling optional features.
@import "variables/options";  


$grid-gutter-width: 30px !default; 

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1310px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1230px
) !default;

$input-btn-padding-y:.688rem!default;
$input-btn-padding-x:1.313rem!default;

$input-btn-font-size:         0.938rem !default;

$btn-padding-y:.688rem!default;
$btn-padding-x:2rem!default;

$border-radius:              24px !default;

$btn-border-radius:              4px !default;
$btn-border-radius-lg:           4px !default;
$btn-border-radius-sm:           4px !default;

// $btn-font-size-sm: 1rem * .675 !default;

// navbar
@import "variables/navbar";