$violeta: #6639b7;
$naranja: #eaab00; 
$verde-oscuro: #35674e;
$verde: #8ed74e;
$rojo: #c14e33;
$celeste: #2cc9d1;
$rosa: #ffe6a3;
$rosa-claro: #fffaee;
$primary: $violeta !default;
$secondary: $naranja !default; 
$success: #6fed00 !default; 

$success: $verde;
$info: $celeste;
$warning: $naranja;
$danger: $rojo;
$light: #f5f5f5!default;

$dark: #222222!default;
$gray-600: #666666!default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "violeta":          $violeta,
  "naranja":          $naranja,
  "verde-oscuro":     $verde-oscuro,
  "verde":            $verde,
  "rojo":             $rojo,
  "celeste":          $celeste,
  "rosa":             $rosa,
  "rosa-claro":       $rosa-claro, 
), $theme-colors); 