.btn{
	@include box-shadow(none);
	&:not(.btn-light):not([class*="btn-outline-"]){
		color:#fff;
	}
	&.btn-outline-light{
		color:$dark;
	}
	&.btn-icon{
		padding: 0;
		width: auto;
		height: auto;
		min-width: 48px;
		svg{
			vertical-align: -5px;
		}
	}
	&.btn-action{
		@include border-radius(4px);
		font-family: 'Roboto Mono';
		font-size: 16px;
		letter-spacing: 0.29px;
		padding: 0.85rem 2.5rem;
		&.disabled, &:disabled{
			background-color:#e5e5e5!important;
			border-color:#e5e5e5!important;
		}
	}
	&.btn-square{
		@include border-radius(0);
	}
	&.btn-icon-lg{
		svg{
			width: 40px;
			height: auto;
		}
	}
	&.btn-circle{
		width: 48px;
		height: 48px;
		padding:0;
		text-align: center; 
	}
	&.btn-circle-lg{
		svg{
			width: 40px;
			height: auto;
		}
	}

	&.btn-sm{
		font-size: 13px;
		padding:5px 10px;
		@include border-radius(4px);
	}
}
.btn,
a,
button{
	&:focus,&:active{
		outline: none!important;
		@include box-shadow(none!important);
	}
}


.navbar-nav .as-btn-primary{
	.nav-link{
		@include WBPC_make_as_btn($primary,$primary, #fff);
		padding-right: 22px;
		padding-left: 22px;
	}
}



.accordion-item{
	.accordion-item-header{
		border-bottom: solid 1px #ffe6a3;
	}
	.btn-accordion{
		display: block;
		padding: 31px 0;
		color:$dark!important;
		font-size: 20px;
	  font-weight: bold; 
	  text-align: left;
	  padding-right:60px;
	  position: relative;
	  width: 100%;
	  &:after{
	  	content: "";
	  	position:absolute;
	  	top: 25px;
	  	right: 0;
	  	width: 42px;
	  	height: 42px;
	  	background-size: 24px 24px;
	  	background-position:center center;
	  	background-repeat:no-repeat;
	  	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cpath id='f5fploaexa' d='M1.41 7.41L6 2.83 10.59 7.41 12 6 6 0 0 6z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(6 8)'%3E%3Cmask id='8wbv6j793b' fill='%23fff'%3E%3Cuse xlink:href='%23f5fploaexa'/%3E%3C/mask%3E%3Cuse fill='%23000' xlink:href='%23f5fploaexa'/%3E%3Cg fill='%23eaab00' fill-rule='nonzero' mask='url(%238wbv6j793b)'%3E%3Cpath d='M0 0H24V24H0z' transform='translate(-6 -8)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
	  	
	  }
	  &[aria-expanded="false"]{
	  		&:after{
		  		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cpath id='p7coc6ghwa' d='M17.293 8.293L18.707 9.707 12.707 15.707 11.293 15.707 5.293 9.707 6.707 8.293 12 13.586z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='2p9qay8hcb' fill='%23fff'%3E%3Cuse xlink:href='%23p7coc6ghwa'/%3E%3C/mask%3E%3Cuse fill='%23002395' fill-rule='nonzero' xlink:href='%23p7coc6ghwa'/%3E%3Cg fill='%236639b7' fill-rule='nonzero' mask='url(%232p9qay8hcb)'%3E%3Cpath d='M0 0H24V24H0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		  	}
	  	}
	}
	.accordion-item-body{
		background-color: $rosa;
		padding: 16px 33px 33px 33px;
	}
}