#main-page-header{

	.slick-dots{
		z-index: 1029;
	}
	.slick-arrow{
		z-index: 1029;
	}

	.page-header-title{
		@include breakpoint(sm){
			padding:40px 0 0 0;
		}
	}

	.page-header-overlay{
		overflow: hidden; 
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center; 
		position: relative;
		@include breakpoint(sm){
			top: 0;
			height: 100%;
			position: absolute;
		}

		&.sub_type-no-images{
			position:relative;
			
			@include breakpoint(sm){
				padding:40px 0 0 0;
			}
		}
	}

	.isv-lazysrc-loader{
		background-image: none!important;
	}
	
}


