

.woocommerce-cart-form,
.cart_totals,
.ui-loader{
	position:relative;
	&.loading{
		&:after{
			content: "";
			position:absolute;
			top:0;
			left:0;
			right: 0;
			bottom:0 ;
			@include make-loader(absolute, 9999, block, rgba(#fff,.6), '../images/loaders/tail-spin-000000.svg', $BC-body-loader-size, $BC-body-loader-transition );
		}
	}
} 

/*
	messages
	
	ej:

	<div class="woocommerce-notices-wrapper">
		<div class="woocommerce-message" role="alert">
			message.	</div>
			<div class="woocommerce-error" role="alert">
			error.	</div>
			<div class="woocommerce-info" role="alert">
			info.	</div>
	</div>

*/
.wpbc-woo [role="alert"]{
	&.woocommerce-error, &.woocommerce-info, &.woocommerce-message{
		font-size: 15px; 
		border-top:0!important;
		@include border-radius(2px);
		padding: 3px 10px 3px 40px;
		font-family: 'Roboto';
		color: #fff;
		&:before{
			top: 6px;
			left: 13px;
			color: #fff;
			font-size: 12px;
			color: #fff;
			content: "";
			background-size:16px auto;
			background-repeat:no-repeat;
			background-position:center center;
			width: 16px;
    	height: 16px; 
		} 
	}
	&.woocommerce-message{ 
		background-color: $verde!important;
		&:before{
			 background-image: url('../images/theme/icon-check.svg');
		}
	}
	&.woocommerce-error{
		background-color: $rojo!important;
		&:before{
			 background-image: url('../images/theme/icon-error.svg');
		}
	}
	&.woocommerce-info{
		background-color: $naranja!important;
		&:before{
			 background-image: url('../images/theme/icon-info.svg');
		}
	}
}
.wpbc-woo .woocommerce-NoticeGroup,
.wpbc-woo .woocommerce-notices-wrapper{
	.woocommerce-error, .woocommerce-info, .woocommerce-message{
		font-size: 15px; 
		border-top:0!important;
		@include border-radius(2px);
		padding: 3px 10px 3px 40px;
		font-family: 'Roboto';
		color: #fff;
		&:before{
			top: 6px;
			left: 13px;
			color: #fff;
			font-size: 12px;
			color: #fff;
			content: "";
			background-size:16px auto;
			background-repeat:no-repeat;
			background-position:center center;
			width: 16px;
    	height: 16px; 
		} 
	}
	.woocommerce-message{ 
		background-color: $verde!important;
		&:before{
			 background-image: url('../images/theme/icon-check.svg');
		}
	}
	.woocommerce-error{
		background-color: $rojo!important;
		&:before{
			 background-image: url('../images/theme/icon-error.svg');
		}
	}
	.woocommerce-info{
		background-color: $naranja!important;
		&:before{
			 background-image: url('../images/theme/icon-info.svg');
		}
	}
}


/* btns */

.woocommerce form ,
.woocommerce-MyAccount-content {
	.button,
	.woocommerce-Button,
	.woocommerce-button{
		@include border-radius(4px!important);
	}
}

/* forms */
.woocommerce form .form-row{
	margin-bottom: $grid-gutter*2;
}
.woocommerce form .form-row label{
	font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.25px;
  color: #222222;
}
.woocommerce form { 

	font-family: 'Roboto';

	.input-text,
	.search-field,
	select{
		border: solid 1px #979797!important;
		@include border-radius(2px!important);
	} 
	.button,
	.woocommerce-Button,
	.woocommerce-button{
		@include border-radius(4px!important);
	}
}

.woocommerce form.login,
	.woocommerce form.register{
		margin:0;
		border:0;
		padding:20px 0 0 0;
		@include breakpoint(md){
			padding:20px 32px;
		}
		@include breakpoint(lg){
			padding:20px 72px;
		}
		p{
			margin-bottom: 15px;
		}
		.woocommerce-privacy-policy-text{
			p{
				font-size: 12px;
			}	
		}

		.woocommerce-form-login__rememberme{ 
			min-width: 180px; 
			@include breakpoint(md){
				margin-left: auto;
			}
		}
		.woocommerce-form-login__submit,
		.woocommerce-form-register__submit{
			margin: 0;
	    margin-left: auto;
	    min-width: 180px;
	    float: none;
	    display: block;
	    @include breakpoint-max(md){
				width:100%;
			}
		}

		.woocommerce-LostPassword{
			font-size: 13px;
			color:#222;
			@include breakpoint-max(md){
				width:100%;
				text-align: center;
			}
		}

	}

/* checkout */
.woo-is_checkout{

	#ship-to-different-address{
		font-size: 16px;
	} 

	.woocommerce-NoticeGroup-checkout{
		@include breakpoint(md){
			padding-right: 47px!important;
		}
	}

}
.wpbc-woo .woocommerce-privacy-policy-text{
	p{
		margin-bottom: 0;
	}
}

.wpbc-woo .woo-custom-checkout-login-form{
	.woocommerce-info{
		border:0;
		background-color:transparent;
		padding:0;
		font-family: Roboto;
		font-size: 14px;
		font-weight: normal;
		color:#222;
		a{
			 
		}
		&:before{
			display: none;
		}
	}
	form.login{
		padding: 20px;
		background-color: $light;
		margin-bottom: $grid-gutter*2;
		@include breakpoint(lg){
			margin-right: 100px;
		}
		> p:first-child{
			  font-weight: 600;
		}
		.woocommerce-form-login__rememberme{
			margin-left: 7px;
		}
	}


	display: flex;
	flex-direction: column;

	.woocommerce-info{
		padding: 6px 9px;
		display: inline-block;
	}

	.showlogin, .showcoupon{
		color: $primary;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	.woocommerce-form-coupon-toggle{
		order:3;
		> .woocommerce-info{
			background-color:$rosa;
			@include border-radius(2px);
		}
	}
	.woocommerce-form-coupon{
		order:4;
		margin-top: 0;
	}
	.woocommerce-form-login-toggle{
		order:1;
		> .woocommerce-info{
			font-size: 16px;
		}
	}
	.woocommerce-form-login{
		
		order:2;
	}

}

.wpbc-woo .woo-custom-checkout-review-order{
	border-radius: 11px;
	background-color: #f5f5f5;  
	overflow: hidden;
	table.shop_table{
		background-color:transparent;
		padding: 18px 18px;
		border:0!important;
		border-radius:0!important;
		margin:0!important;
		thead{
			display: none!important;
		}
		tbody{
			display: block;
		}
		tfoot{
			display: block;
		}
		tr{
			display: block;
			td,th{
				display: block;
				border:0!important;
				padding: 6px!important;
			}
		}

		.ui-box-cart-title{
			margin:0;
		}

		tr.grouped_product{
			border-bottom:solid 1px #c9c9c9;
			padding-top: 10px;
			padding-bottom:15px;
			margin-bottom:15px;
			.product-name{
				.ui-box-cart-title{
					display: none;
				}
				p{
					margin: 0;
				}
			}
			.product-thumbnail,
			.product-price,
			.product-quantity,
			.product-subtotal{
				display: none;
			}
		}

		.product-remove{
			display: none;
		}

		tfoot{
			border-top: solid 1px #c9c9c9;
			padding-top: 15px;
			margin-top:15px;
			tr{
				display: flex; 
				flex-direction: row;
				align-items: center;
				justify-content: start;
				padding: 0;
				th,td{
					padding-top:0;
					padding-bottom:0;
					font-size: 16px;
					font-weight: normal!important;
					color:#999999;
					letter-spacing: 0.29px;
				}
				&.order-total{
					th,td{
						color:#222222;
					}
				}
				td{
					margin-left:auto;
				}
			}

			.woocommerce-shipping-methods{
				li{
					margin:0;
				}
			}

		}

		tr.cart_item{
			display: flex; 
			flex-direction: row;
			align-items: center;
			justify-content: start;
			padding: 6px 0;
			.product-thumbnail{
				order: 1;
				flex: none;
				width: 56px;
				a{
					display: block;
					overflow: hidden;
					width: 44px;
					height: 44px;

				}	
				img{
					width: 44px!important;
					height: 44px;
					border-radius: 100%;
					overflow: hidden;
					display: block;
				}
			}
			.product-quantity{
				order: 2;
				min-width: auto;
				font-size: 14px!important;
			}
			.product-name{
				order: 3;
				font-family: 'Roboto Mono';
				font-size: 14px;
			}
			.product-price, 
			.product-subtotal{
				display: none;
			}


		}
	}

}

.woo-is_checkout{

	.woocommerce-shipping-fields{
		margin-top: $grid-gutter;
	}

	.woocommerce-notices-wrapper{
		.wc-forward{
			display: none;
		}
	}

	#customer_details{
		flex-direction: column;
	} 

	#order_review{

	}

	#order_review_heading{
		display: none;
	}

	#payment{
		border-radius:0;
		background-color:transparent;
		margin: 0 2px;
		ul.payment_methods{
			padding:0;
			border:0;
			li{
				background-color:#fff;
				border-radius: 4px;
				border: solid 1px #979797;
				position: relative;
				margin-bottom: 20px;
				min-height: 58px;
				> .input-radio{
					position: relative;
					top: 13px;
					left: 11px;
				}
				> label{
					position: relative;
    			top: 13px;
				}
				.payment_box{
					border-top: solid 1px #d8d8d8;
					background-color:transparent;
					padding-bottom:0;
					&:before{
						display: none;
					}
				}
			}
		}
	}

}

/* titles general */

.woo-form-title,
body.woocommerce-edit-address form > h3,
.woocommerce-order-details__title,
.woocommerce-column__title,
.woocommerce-Address-title h3,
.woocommerce-billing-fields h3,
.woocommerce-shipping-fields h3,
.woocommerce-additional-fields h3,
.woocommerce form fieldset legend,
{
	font-family: 'Roboto';
	font-size: 21px;
	letter-spacing: 0.38px;
	text-transform: uppercase;
	label{
		margin:0;
	}
}

/* buttons sm radius general */

.woocommerce-orders-table__cell a.button.view,
.woocommerce-Address-title .edit{
	background-color: transparent!important;
	border-color: transparent!important;
	font-family: 'Roboto';
	color:$primary!important;
	font-size: 13px!important;
	padding:5px 10px!important;
	@include border-radius(4px!important);
	text-decoration: underline!important;
	box-shadow:none!important;
	&:hover,&:focus,&:active{
		color:$primary!important;
	}
}

/* tables */

.woocommerce table.shop_table {

	background-color:#fff;
	th {
    font-weight: 400;
    padding: 9px 12px;
    line-height: 1.5em;
  }
  td{
  	font-weight: 400;
    padding: 9px 12px;
    line-height: 1.5em;
  }

} 

.woocommerce-checkout-review-order{
	.shop_table {
		thead,tfoot{
			display: none;
		}
	}
}

/* my account */

.woocommerce-MyAccount-content{ 
	margin-right: auto;
	margin-left: auto; 
}
body.woocommerce-edit-address,
body.woocommerce-edit-account {
	.woocommerce-MyAccount-content{
		> p{
			text-align: center;
		}
		@include breakpoint(md){
			.woocommerce-EditAccountForm,
			form{
				max-width: 640px;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
	.woocommerce-Addresses{
		.woocommerce-Address{
			@include breakpoint(md){
				padding-right: 35px;
				padding-left: 35px;
			}
		}
	}
}

.woocommerce-MyAccount-navigation-link--downloads{
	display: none!important;
}

.woocommerce-MyAccount-navigation{

  margin-bottom: 30px;

	> ul{
		background-color:transparent!important;
		border:0!important;
		justify-content: center;
		flex-direction:row!important;
		padding:0;
		li{
			a{
				text-transform: uppercase;
				font-family: 'Roboto Mono';
				font-size: 15px;
				color:#222!important;
				padding:4px 8px!important;
				margin:0 24px;
				font-weight: normal;
				border-radius: 4px;
				background-color: transparent;
			}
			&.is-active{
				a{
					color:#000!important;
					background-color: #eaab00;
				}
			}
		}
	}
}

.woo-is_account{

	.entry-header{
		margin-bottom: 0;
	}

	.woocommerce .col2-set,
	.u-columns{ 
		width: 100%;
		margin:0 auto!important; 
		@include breakpoint(lg){
			max-width: 91.6666666667%;
		}
		> .u-column1,
		> .u-column2{
			> h2{
				display: none;
			}
		}
	}

	.u-column1{
		border-bottom: solid 1px #d8d8d8;
		@include breakpoint(md){
			border-bottom:0;
			border-right: solid 1px #d8d8d8;
		}
	}  

	.woocommerce-Address{
		position: relative;
		padding-bottom: 50px;
		margin-bottom: 30px;
		.woocommerce-Address-title{
			position: initial!important;
			padding-right: 30px!important;
			margin-bottom: 0!important;
		}
		.edit{
			position: absolute;
			bottom: 20px;
			left: 6px;
		}
	}

} 

body.woocommerce-view-order {
	.woo-is_account .woocommerce .col2-set, .woo-is_account .u-columns{
		width: inherit!important;
		margin-right: -15px!important;
    margin-left: -15px!important;
    max-width: inherit!important;
	}
}

body.woocommerce-edit-account .woocommerce-EditAccountForm,
body.woocommerce-edit-address .woocommerce-address-fields{
	padding: 22px 24px;
	//background-color:#fff;
}
.woocommerce .woocommerce-customer-details address,
.woocommerce .woocommerce-shipping-details address{
	padding: 22px 24px;
	background-color:#fff;
}

.woocommerce-MyAccount-dropdown-navigation{
	.dropdown-menu{
		@include border-radius(0!important);
		width: 100%;
		box-shadow: none!important;
		margin: 0;
	}
}

/* ordenar ahora pages */
#ordenar-paso-2{
		@include breakpoint-max(sm){
			margin-top:30px;
		}
	}
.ordenar-paso{
	
	.section-title{
		@include breakpoint-max(sm){
			font-size: 1.3rem!important;
		}
	}

}
.btn-big-radio{ 

  border-radius: 10px;
  background-color: #ebebeb; 
  font-weight: 500;
  color: #999999;
  font-family: Rubik;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover{
		cursor: pointer;
		background-color: #cccccc;
	}

	width: 60px;
  height: 58px;
  font-size: 24px;
  margin: 7px!important;
	@include breakpoint(sm){
		width: 80px;
  	height: 70px;
  	font-size: 30px;
  	margin: 0!important;
	}
}
.big-radio{
	position:relative;
	overflow: hidden;
}
.big-radio input[type="radio"]{
	position: absolute;
	left: -9999em;
	visibility: hidden;
	+ label.btn-big-radio{
		color: #999999;
	}
}
.big-radio input[type="radio"]:checked + label.btn-big-radio {
  background-color: $primary; 
  color: #fff;
} 

[data-ordenar="receta"]{

	a.added_to_cart.wc-forward {
	    display:none;
	}
	.input-text.qty{
		padding:0!important;
		visibility: hidden;
		position:absolute;
		left: -9000em;
	}

	.add_to_cart_button[data-quantity="0"]{
		background-color:$light!important;
		pointer-events: none;
		cursor: default;
	}

	padding-bottom:80px; 

	.ui-box-content{
		
		.ui-box-quantity{
			position: absolute;
			bottom: 10px;
			left: 0;
			right: 0;
		}
	}

}

.grouped_recetas_list_out,
.grouped_recetas_list{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	&.empty-result{
		display: none;
	}

	> div{
		font-size: 13px;
		padding-bottom:6px;
		margin-bottom:6px;
		position: relative;
		padding-left: 20px;
		letter-spacing: 0.23px;
		line-height: 1.23;
		font-family: 'Roboto Mono';
		.nn{
			position: absolute;
			top: 0px;
			left: 0;
		}
		.price{
			display: none;
		}
	}
}

.ui-box-card.ordenar{
	min-height: 100%; 
} 

.form-control-circle{
	width: 28px;
	height: 28px;
	padding: 0;
	text-align: center;
	color: #fff;
	font-size: 15px;
  font-weight: 500;
  background-color:$naranja;
  border-color:$naranja;

  &[data-value="0"]{
  	background-color:#cccccc;
 	  border-color:#cccccc;
  }
}

.ui-box-quantity{
	.quantity-buttons{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		align-items:center;
		justify-content: center;
		.qb{
			margin:13px 6.5px;
			display: flex;
	    align-items: center;
	    justify-content: center;
		}

	}
}

.ui-box-cart-title{
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 0.23px;
	color:$primary;
	&.lg{
		font-size: 18px;
	}
}


#grouped_recetas_items{
	&:after{
		background-image:none!important;
		background-color:transparent!important;
	}
}

.ui-box-ordenar-cart{
	@include border-radius(11px);
	background-color: $light;
	padding: 22px 30px;  

	.buttons{
		.button:not(.checkout){
			display: none;
		}
	}  

	.amout{
		font-family: Rubik;
  	font-size: 44px;
	}

	.ui-box-cart-footer{
		font-size: 16px;
		letter-spacing: 0.29px;
  	color: #999999;
		.delivery{

		}
		.total{
			color: #222;
			.price{
				font-weight: bold;
				display: block;
				color: #222;
				font-size: 16px;
			}
			small{
				display: block;
				font-size: 10px;
				letter-spacing: 0.18px;
  			text-align: right;
			}
		}
	}

}

.ordenar-pasos-inicio{
	min-height: 100vh;
}

.paso-ok{
	width: 36px;
	height: 36px;
	background-size: 24px 24px;
	@include border-radius(18px);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: $success;
	background-image:url('../images/theme/icon-check.svg');
	margin: 15px 0px;
	align-self: center;
	margin-top: 3px;
	@include opacity(0);
	@include transition();
	position:absolute;
	@include translate(-100%,0);
	z-index: -1;
}

.ordenar-paso{
	position:relative; 
	&.passed{
		.paso-ok{
			@include opacity(1);
			@include translate(0,0);
			position:relative; 
		}
	}

	&.disabled{
		>div{
			@include opacity(.4);
		}
		&:before{
			content: "";
			position:absolute;
			display: block;
			background-color:transparent; 
			top:0;
			left:0;
			right:0;
			bottom:0;
			z-index: 100;
		}
	}
}

.paso-volver{
	padding: 5px 0;
	color:#666666!important;
	text-decoration: none!important;
	.fa{
		font-size: 22px;
		vertical-align: -3px;
	}
	span{
		font-size: 14px;
		font-family: 'Rubik';
		text-transform: none;
		font-weight: 400;
	}
}

.pasos_main_nav{
	.pasos{
		position:relative;
		&:after{
			content: "";
			height: 2px;
			position:absolute;
			top: 10px;
			left: 66px;
			right: 66px;
			z-index: -1;
			background-color:$primary;
		}
		.paso{
			min-width: 130px;
			.dot{
				width: 20px;
				height: 20px;
				color:#fff;
				border:2px solid $primary;
				background-color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				@include border-radius(10px);
				.icon{
					font-size: 10px;
					@include opacity(0);
				}
				
			}
			.label{
					margin-top:12px;
					font-size: 12px;
					color: #9b9b9b;
				}

			&.current{
				.dot{
					background-color: $primary;
					.icon{
						//@include opacity(1);
					}
				}
				.label{ 
					color: #222;
				}
			}
			&.completed{
				.dot{
					.icon{
						@include opacity(1);
					}
				}
			}
		}
	}
}

body.woo_using_pasos_nav{
	@include breakpoint-max(sm){

		#main-navbar .navbar-toggler{
			display: none;
		}

		.pasos_main_nav{
			.pasos{
				&:after{ 
					top: 7px;
					left: 30px;
					right: 30px; 
				}
			}
			.paso{
				min-width: 58px;
				&.paso-plan{

				}
				&.paso-seleccion{

				}
				&.paso-checkout{

				}

				.label{ 
					font-size: 7px; 
				}

				.dot{
					width: 16px;
					height: 16px;
				}
			}

		}

	}
}

/* 

	Mini Cart show/hide messages

	Ver 

		template-parts/woocommerce/grouped_product/ordenar-mini_cart.php
		functions/woocommcerce/woo_grouped_product/js/script.js

*/

.is_singular{
	.plural{
		display: none;
	}
	.msg{display: none;}
}
.is_plural{
	.singular{
		display: none;
	}
	.msg{display: none;}
}
.is_none{
	.msg{display: inherit;}
	.plural{
		display: none;
	}
	.singular{
		display: none;
	}
}

#grouped_recetas_hide_vinos{ 
	display: block;
	text-align: center;
	@include breakpoint(sm){
		position:absolute;
		top:-8px;
		left: 0; 
	}
	@include breakpoint(md){
		top:0;
	}
}

#grouped_recetas_mini_cart{
	
	#grouped_recetas_add_to_cart{
		padding-left: 10px;
		padding-right: 10px;
	} 

}
#grouped_recetas_form{
	@include breakpoint-max(md){
		
		[data-toggle="nav-affix"]{
			position: fixed;
			bottom: 0;
			top: inherit;
			.affix-column{
				top: inherit;
				bottom: 0;
				padding: 0;
			}
			&.this-affix.affix{
				.affix-column{
					height: auto!important;
				}
				&.elem-affix-bottom{
					.affix-column{
						height: auto!important;
					}
				}

			}
			&.affix-inside-bottom{
			    position: absolute;
			    .affix-column{
			    	    transform: translate(0, 100%);
			    }
				}
		}

		#grouped_recetas_mini_cart{
			@include border-radius(0);
			background-color:$secondary;
			color:#fff;
			padding: 8px 9px 18px 9px;
		}
		#grouped_recetas_rest_count{
			text-align: center;
			width: 28px;
			height: 28px;
			background-color:#fff;
			@include border-radius(14px);
			color:$secondary;
			font-family: Rubik;
			font-size: 15px;
			line-height: 28px;
			font-weight: 500;
			display: inline-block;
		}
		#grouped_recetas_rest_amout{
			text-align: center;
			    margin-bottom: 6px;
			.rest_count{
				font-family: Rubik;
				font-size: 15px;
				font-weight: 500;
				text-transform: uppercase;
			}
			&.text-rojo{
				color: #fff!important;
			}
		}

		#grouped_recetas_add_to_cart{ 
			padding: 9px 25px !important;
			display: block!important;
			margin: 0 auto!important;
			width: auto!important;
		}

		.container.affix-container{
			max-width: 100%!important;
			padding:0!important;
		}

		.hide_on_mobile{
			display: none!important;
		}
	}
}




body.woocommerce-cart .button[name="update_cart"]{
	display: none!important;
}



/*
 * single-product
*/

.single-product{

	div.images{
		@include breakpoint(md){
			padding-right:50px!important;
		}
		
	}

	.ui-box-meta{
		.meta{
			font-size: 16px;
		}
		.btn.btn-sm{
			font-size: 14px;
			padding: 3px 10px;
		}
	}

	.table-ingredientes{
		.cantidad{
			font-size: 15px;
		}

		@include breakpoint-max(sm){

			tbody{
				display: flex;
		    flex-direction: row;
		    flex-wrap: wrap;

		    > tr{
					width: 50%; 
					display: flex;
					flex-wrap: wrap;
					flex: 50%;
					position:relative;
					padding-top:114px;
					> td{
						width: 100%;
						text-align:center!important;
						padding: 0px 8px;
					}


					.thumb-table{
						position:absolute;
						top:10px;
						left: 0;
						right: 0;
						.ui-ingrediente-thumb{
							width: 90px;
							height: 90px;
							margin:auto;
						}

					}
		    }

			}

		}

	}

}

.woocommerce-remove-coupon{
	text-indent: -100px;
	display: inline-block;
	overflow: hidden;
	width: 20px;
	height: 20px; 
	vertical-align: -4px;
	position:relative;
	&:after{
		content: "\00d7";
		position:absolute;
		top:0;
		left: 0;
		width: 20px;
		height: 20px; 
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='%23f00' d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E");
		background-repeat:no-repeat;
		background-size:20px auto;

	}
}


/* Delivery zones specific */
.woo-is_checkout{ 

	#billing_country_field,
	#shipping_country_field{
		display: none;
	}
}

#szbd_message > span{
	font-size: 14px;
	color: $danger;
	    line-height: 18px;
    display: block;
    padding: 4px 0px 0 0;
}
.wpbc-woo .woo-custom-checkout-review-order table.shop_table tfoot tr.woocommerce-shipping-totals{
	align-items:start;
}