.hentry{
	&.post{

	}
	&.page{

	}

	.entry-header{
		margin-bottom:$grid-gutter;
	}

	.entry-content{

	}

	h1, h2, h3, h4, h5, h6, p{
		margin-bottom: $grid-gutter*2;
	}

}


.wysiwyg_row{
	.wysiwyg_row-content{
		img{
			margin-bottom:$grid-gutter*2;
		}
	}
}